@import "tailwindcss";

@layer components {
  .custom-scroll::-webkit-scrollbar {
    width: 12px;
  }
  .custom-scroll::-webkit-scrollbar-track {
    background: #fef3c7;
    border-radius: 20px;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #f97316;
    border-radius: 20px;
  }
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #ea580c;
  }
}
